$primary: #4444ce;
$secondary: #aaaaaa;
$info: #79aea3;
$success: #70ee9c;
$warning: #b5f44a;
$danger: #ef3131;

.input-group {
    input:focus {
        box-shadow: none !important;
        border: 1px solid $primary !important;
        border-left: none !important;

        +.input-group-text {
            border: 1px solid $primary;
            border-right: none !important;
        }
    }
}

@import "bootstrap";