@font-face {
  font-family: Poppins;
  src: url('../src/assets/fonts/Poppins/Poppins-Regular.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Exo;
  src: url('../src/assets/fonts/exo/Exo-Regular.ttf');
  font-weight: 500;
}

#root {
  text-align: center;
  width: 100%;
  height: 100vh;
  font-family: Poppins;
  overflow: hidden;
}

input {
  font-size: 12px !important;
}

button {
  font-size: 13px !important;
}

.logo {
  max-width: 8%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
}

.logo img {
  max-width: 50%;
}

.btn {
  border-radius: 15px;
}

.nav-items {
  max-width: 100% !important;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: none !important;
}

.input-group input {
  border-left: none;
  border-radius: 0 5px 5px 0 !important;
}

.input-group span {
  background-color: #fff !important;
  border-right: none !important;
  border-radius: 5px 0 0 5px !important;
  color: #636363;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-text-fill-color: rgb(33, 37, 41);
    -webkit-background-clip: text;
}

.login .col img {
  max-height: 400px;
}

.forgot-password a {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  padding: 0;
  width: auto;
  font-size: 13px;
}

.forgot-password a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: #aaaaaa;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.forgot-password a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.login-logo {
  align-items: center;
  justify-content: center;
}

.login-logo img {
  max-width: 80px;
  padding: 0;
}

.login-logo h3 {
  width: auto;
  color: #575757;
}

.login-logo span {
  color: #4444ce;
}

.login .login-form {
  animation: verticalSurge 0.7s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login .login-form .login-logo, .card-default {
  width: 342px;
}

.card-products {
  width: 90%;
}

.login .left-person {
  animation: leftToRight 0.7s;
}

.login .right-person {
  animation: rightToLeft 0.7s
}

@media screen and (width < 995px) {
  .login .login-form {
    order: -1;
  }
}

@media screen and (height < 805px) and (width < 995px) {
  .login .col img {
    max-height: 20em;
  }
}

@media screen and (height < 682px) and (width < 995px) {
  .login .col img {
    max-height: 15em;
  }
}

@media screen and (height < 580px) and (width < 995px) {
  .login .col img {
    display: none;
  }
}

@media screen and (width < 475px) {
  .login .col img {
    max-height: 20em;
  }
}

@media screen and (width < 390px) {
  .login .col img {
    max-height: 15em;
  }
}

@keyframes verticalSurge {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes leftToRight {
  0% {
    transform: translateX(-100px);
    filter: blur(5px)
  }
  100% {
    transform: translateX(0px);
    filter: blur(0px)
  }
}

@keyframes rightToLeft {
  0% {
    transform: translateX(100px);
    filter: blur(5px)
  }
  100% {
    transform: translateX(0px);
    filter: blur(0px)
  }
}